header {
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}

#search-div {
    text-align: center;
    display: inline;
    margin-left: 20%;
    padding: 0;
    
}

#search-form {
    display: inline
}

#search-bar {
    height: 50px;
    margin: 0;
    padding: 0;
    font-size: 40px;
}

#search-button {
    margin: 0px;
    padding: 0;
}

#main-section {
    padding: 50px 0 0 50px;
    width: 70%;
    display: inline-block;
}

#video-title {
    font-family: 'Roboto', sans-serif;
}

#video-actions {
    float: right;
    margin-right: 30px;
}

#video-actions img {
    margin-top: 0px;
    margin-left: 20px;
}

#sidebar {
    width: 30%;
    border-left: 1px solid black;
    display: inline-block;
    position: absolute;
    
}

.recommended {
    display: inline;
    float: left;
}
.recommended-thumb {
    display: inline;
    float: left;
    margin-right: 10px;
}
.recommended-details {
    width: 50%;
    display: inline;
}
li a {
    float: right;
    text-decoration: none;
    color: black;
}

h4 {
    display: inline;
    top: 0;
}

ul {
    list-style-type: none;
}

#subscribe-btn {
    background-color: red;
    font-size: 20px;
    color:white;
    float: right;
    padding: 15px;    
}

#author {
    display: inline-block;
}

#show-more {
    border: none;
    background-color: white;
    font-size: 15px;
    margin-top: 30px;  
}

#author-img {
    display: inline-block;
}

#publish-inf {
    display: inline-block;
    /* position: relative; */
}

#subscribe-div {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}