header {
    border-bottom: 1px solid black;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    /* z-index: 10; */
}

#search-div {
    text-align: center;
    display: inline;
    /* width: 200px; */
    /* margin: 0 auto; */
    margin-left: 20%;
    padding: 0;
    
}

#search-form {
    display: inline
}

#search-bar {
    height: 50px;
    margin: 0;
    padding: 0;
    font-size: 40px;
    /* display: inline; */
}

#search-button {
    margin: 0px;
    padding: 0;
    /* display: inline; */
}

#main-section {
    padding: 50px 0 0 50px;
    width: 50%;
}

#video-title {
    font-family: 'Roboto', sans-serif;
}

#video-actions {
    display: inline;
    float: right;
}

#video-actions img {
    margin-top: 
    margin-left: 20px;
}