header {
    border-bottom: 1px solid black;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}

#search-div {
    text-align: center;
    display: inline;
    margin-left: 20%;
    padding: 0;
    
}

#search-form {
    display: inline
}

#search-bar {
    height: 50px;
    margin: 0;
    padding: 0;
    font-size: 40px;
}

#search-button {
    margin: 0px;
    padding: 0;
}

#main-section {
    padding: 50px 0 0 50px;
    width: 50%;
}

#video-title {
    font-family: 'Roboto', sans-serif;
}

#video-actions {
    float: right;
}

#video-actions img {
    margin-top: 0px;
    margin-left: 20px;
}